.page-one {
  background-color: #162b2e;
  color: #ffffff;
  padding: 20px;
}

.heading-one {
  margin-left: 200px;
  font-weight: 400;
}

.navigation-one {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  transform: translateY(-50px);
}

.list-one {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  list-style-type: none;
}

.list-one a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

.button-one {
  background-color: #007e68;
  color: #ffffff;
  padding: 10px 20px;
  margin-top: 0;
  border-radius: 20px;
  border: none;
  font-size: smaller;
}

.material-symbols-outlined {
  padding: 0 10px;
  font-size: 16px;
}

.container-one {
  margin-left: 200px;
}

.heading-two {
  margin: 0 auto;
  font-weight: 600;
}

.heading-three {
  font-size: 50px;
  margin: 0 auto;
}

.button-two {
  background-color: #007e68;
  color: #ffffff;
  padding: 10px 20px;
  margin-top: 0;
  border-radius: 20px;
  border: none;
  font-size: smaller;
}

.button-three {
  background-color: #344648;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: smaller;
}

.container-two {
  margin-left: 400px;
}

.heading-four {
  font-size: 14px;
  opacity: 0.7;
}

.heading-five {
  font-size: 30px;
  font-weight: 500;
  opacity: 0.7;
}

.paragraph-two {
  font-size: 14px;
  opacity: 0.7;
}

.list-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  list-style-type: none;
  opacity: 0.7;
}

.paragraph-three {
  font-size: 14px;
}

.button-four {
  background-color: #007e68;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: smaller;
}

.button-five {
  background-color: #00c16e;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: smaller;
}

.container-three {
  background: #f6f6f5;
  padding: 40px;
  margin: 20px;
}

.heading-six {
  font-weight: 600;
  opacity: 0.7;
  text-align: center;
  padding-top: 50px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin: 0 200px 0 200px;
  grid-gap: 10px;
}

.content-one {
  background: #ffffff;
  opacity: 0.7;
  padding: 20px;
}

#symbols {
  color: #007e68;
  font-size: 25px;
}

.link-one {
  text-decoration: none;
  color: #007e68;
  text-align: center;
}

.container-four {
  margin-left: 600px;
}

.heading-seven {
  font-size: 28px;
  font-weight: 600;
  opacity: 0.8;
}

.content-two {
  list-style-type: none;
  padding: 10px;
  font-size: 14px;
  opacity: 0.7;
  margin-left: 0;
}

.color-box {
  background-color: #f6f6f5;
}

.container-five {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 700px;
  margin-left: 150px;
  grid-gap: 10px;
  padding: 20px;
}

.container-five .content-one {
  margin: 0 auto;
  height: 70px;
  font-size: 14px;
}

.container-six {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  margin: 0 200px 0 200px;
}

.container-seven {
  background-color: #f6f6f5;
}

.container-seven .heading-seven {
  text-align: center;
}

.container-eight {
  background-color: #3a7f6a;
  padding: 30px;
  text-align: center;
  margin: 50px;
}

.container-nine {
  background-color: #061e24;
  color: #ffffff;
  margin: 50px;
}

.container-nine .list-three {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-nine .list-three li {
  padding-right: 10px;
  opacity: 0.7;
}

#contact {
  font-size: 18px;
}

.container-nine h3 {
  text-align: center;
  font-weight: 600;
  opacity: 0.7;
}

.container-nine footer {
  background-color: #02191e;
}

.list-four {
  display: flex;
  justify-content: flex-end;
  opacity: 0.7;
}

footer li {
  list-style-type: none;
  padding-right: 10px;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}

footer p {
  transform: translateY(32px);
  opacity: 0.7;
}
